.Dictionary section {
  margin: 15px auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 50%;
}

.Dictionary input {
  width: 50%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
}
