.Phonetic {
  height: 30px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  max-width: 25%;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
}
.Phonetic a:hover {
  background: purple;
  color: white;
}
